! basic functionality

#include "/home/leshen/.aesthetics/xresources.d/base/base-app-config-xresources"
#include "/home/leshen/.aesthetics/xresources.d/base/fonts-xresources"
#include "/home/leshen/.aesthetics/xresources.d/base/rxvt-unicode-xresources"
#include "/home/leshen/.aesthetics/xresources.d/base/xterm-xresources"

! adding colorscheme

#include "/home/leshen/.cache/mywal/colors.Xresources"